.root
{
	-fx-background-color:rgb(200, 200, 150); 
}
#button1 {
    -fx-font: 18px "Serif";
    -fx-padding: 10;
    -fx-background-color: WHITE;  
}
#button2 {
    -fx-font: 18px "Serif";
    -fx-padding: 10;
    -fx-background-color: WHITE;  
}
#button3 {
    -fx-font: 18px "Serif";
    -fx-padding: 10;
    -fx-background-color: WHITE;  
}