.root
{
	-fx-background-color:#dce2e9 ; 
}
#r1 {
    -fx-border-width: 2px;
    -fx-border-color: #3e6ee8;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 25px;
    -fx-padding: 10px;
}
#r2 {
    -fx-border-width: 2px;
    -fx-border-color: #3e6ee8;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 25px;
    -fx-padding: 10px;
}
#r3 {
    -fx-border-width: 2px;
    -fx-border-color: #646e86;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 25px;
    -fx-padding: 10px;
}
#button1 {	
    -fx-border-width:13px;
    -fx-padding: 10px;
    -fx-background-color: #d9a885;
    -fx-font: 24px "Serif";	
}