.root {
	-fx-background-color: rgb(249.0, 249.0, 249.0);
}
#btn1 {	 
	 -fx-focus-color:#edcaa3;
}
#btn2 {	 
	 -fx-focus-color:#edcaa3;
}
#btn3 {	 
	 -fx-focus-color:#edcaa3;
}
#btn4 {	 
	 -fx-focus-color:#edcaa3;
}
#btn5 {	 
	 -fx-focus-color:#edcaa3;
}
#btn6 {	 
	 -fx-focus-color:#edcaa3;
}
#btn7 {	 
	 -fx-focus-color:#edcaa3;
}
#btn8 {	 
	 -fx-focus-color:#edcaa3;
}
#btn9 {	 
	 -fx-focus-color:#edcaa3;
}